[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=PyTkEditor
Exec=pytkeditor
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
Icon=pytkeditor
MimeType=text/x-python;
