[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=TkEditor
Exec=tkeditor
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
Icon=tkeditor
Name[fr_FR.UTF-8]=TkEditor
MimeType=text/x-python;
