/*
:Authors: Ian Bicking, Michael Foord, Juliette Monsel
:Contact: fuzzyman@voidspace.org.uk
:Date: 2005/08/26 
:Version: 0.1.0
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for Docutils.
Based on ``blue_box.css`` by Ian Bicking
and ``html4css1.css`` revision 1.46.
*/

@import url(html4css1.css);

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black
}

em, i {
  /* Typically serif fonts have much nicer italics */
  font-family: Times New Roman, Times, serif;
}

a {
    color: #006FFF;
    font-style: italic;
}

a.target {
  color: #006FFF;
}

a.target {
  color: #006FFF;
}

a.toc-backref {
  text-decoration: none;
  color: black;
}

a.toc-backref:hover {
  background-color: inherit;
}

a:hover
{
    font-style: italic;
    border-bottom: 1px solid #006FFF;
}

div.hint, div.note, div.tip {
  background-color: #C5D3E0;
  width: 80%;
  margin: 1em ;
  border: 1px solid #0C5598;
  padding: 10px
}

div.attention, div.caution, div.danger, div.error, div.important,
div.warning {
  background-color: #FFCECE;
  width: 80%;
  margin: 1em ;
  border: 1px solid #cc0000;
  padding: 10px
}

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title  {
  color: #0C5598;
  text-align: left;
  margin: 0;
  font-weight: bold ;
  font-family: sans-serif;
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: #cc0000;
  font-weight: bold ;
  font-family: sans-serif;
  text-align: left;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  border: thin solid black;
  /* This makes the borders rounded on Mozilla, which pleases me */
  -moz-border-radius: 8px;
  padding: 4px;
}

h1 {
  background-color: #1357AE;
  color: #ffffff;
  border: medium solid #1C4374;
  font-size: large;
}

h1 a.toc-backref, h2 a.toc-backref { 
  color: #ffffff;
}

h2 {
  background-color: #666666;
  color: #ffffff;
  border: medium solid black;
}

h3, h4, h5, h6 {
  background-color: #cccccc;
  color: #000000;
}

h3 a.toc-backref, h4 a.toc-backref, h5 a.toc-backref, 
h6 a.toc-backref { 
  color: #000000;
}

h1.title {
  text-align: left;
  background-color: #1357AE;
  color: #eeeeee;
  border: thick solid #1C4374;
  -moz-border-radius: 20px;
  font-size: x-large;
}

table.footnote {
  padding-left: 0.5ex;
}

table.citation {
  padding-left: 0.5ex
}


.image img { border-style : solid;
            border-width : 2px;
}

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
  font-size: 100%;
}

tt {
  font-family: FreeMono;
  padding: 1px;
  background-color: #ecf0f3;
  border: 1px solid #BDBDBE;
}

span.data, span.exc, span.func, span.class, span.const, span.attr, span.meth, span.mod, span.obj, span.py_data, span.py_exc, span.py_func, span.py_class, span.py_const, span.py_attr, span.py_meth, span.py_mod, span.py_obj {
  font-family: FreeMono;
  padding: 1px;
  background-color: #FFFFFF;
  border: 1px solid #BDBDBE;
}

pre, code
{
    padding: 6px;
    padding-left: 10px;
    background-color: #ecf0f3;
    font-family: FreeMono;
    line-height: 1.4;
    margin: 0px;
    border: 1px solid #BDBDBE;
}

.code .comment                     { color: #008800; font-style: italic }
.code .error                       { border: 1px solid #FF0000 }
.code .generic.deleted             { color: #A00000 }
.code .generic.emph                { font-style: italic }
.code .generic.error               { color: #FF0000 }
.code .generic.heading             { color: #000080; font-weight: bold }
.code .generic.inserted            { color: #00A000 }
.code .generic.output              { color: #808080 }
.code .generic.prompt              { color: #000080; font-weight: bold }
.code .generic.strong              { font-weight: bold }
.code .generic.subheading          { color: #800080; font-weight: bold }
.code .generic.traceback           { color: #0040D0 }
.code .keyword                     { color: #111191; font-weight: bold }
.code .keyword.pseudo              { font-weight: normal }
.code .literal.number              { color: #666666 }
.code .literal.string              { color: #AA7700 }
.code .literal.string.doc          { color: #AA7700; font-style: italic }
.code .literal.string.escape       { color: #BB6622; font-weight: bold }
.code .literal.string.interpol     { color: #BB6688; font-weight: bold }
.code .literal.string.other        { color: #008000 }
.code .literal.string.regex        { color: #BB6688 }
.code .literal.string.symbol       { color: #B8860B }
.code .name.attribute              { color: #BB4444 }
.code .name.builtin                { color: #116BC2 }
.code .name.class                  { color: #0000FF }
.code .name.constant               { color: #880000 }
.code .name.decorator              { color: #1E90FF }
.code .name.entity                 { color: #999999; font-weight: bold }
.code .name.exception              { color: #D2413A; font-weight: bold }
.code .name.function               { color: #00A000 }
.code .name.label                  { color: #A0A000 }
.code .name.namespace              { color: #0000FF; font-weight: bold }
.code .name.tag                    { color: #008000; font-weight: bold }
.code .name.variable               { color: #B8860B }
.code .punctuation                 { color: #B90707 }
.code .operator                    { color: #B90707 }
.code .operator.word               { color: #111191; font-weight: bold }
